.img_Herren1mannschaftsfoto {
  width: 80%;
  border-top-left-radius: 10px;
}
.flex-herren1 {
  display: flex;
  flex-direction: row;
  margin-top: 0.8rem;
}
.text-neben-bild {
  margin: 2%;
}

@media (max-width: 600px) {
  .flex-herren1 {
    display: block;
    flex-direction: row;
    text-align: center;
  }
  .img_Herren1mannschaftsfoto {
    -webkit-box-shadow: 5px 5px 15px 10px #767982;
    box-shadow: 5px 5px 15px 10px #767982;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  /* Stile für Tablets */
}
